*,
*::after,
*::before {
  margin: 0;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.index-header {
  height: 65px;
}

.header-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header-menu-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  max-width: 390px;
  padding: 0 62px 0 17px;
  justify-content: space-between;
}

.header-menu-item {
  display: grid;
  align-items: center;
  height: 100%;
}

.header-menu-item:not(:first-child) {
  margin-left: 34px;
}

.header-menu-item-active {
  border-bottom: 2px solid #333333;
  height: 63px;
}

.header-menu-link {
  color: #000000;
}

.header-user-list {
  display: flex;
  align-items: center;
}

.header-user-item {
  width: 42px;
  text-align: center;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  margin-left: 20px;
  padding: 9px 15px;
}

.hero {
  margin-bottom: 90px;
}

.hero-background {
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 485px;
  margin-bottom: 63px;
}

.welcome-to-sedona {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.what-is-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31px;
}

.why-it-better {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list li {
  display: flex;
  flex-direction: column;
  height: 384px;
}

.benefit-item-description {
  background-color: #82b3d3;
  max-width: 230px;
  padding: 92px 85px;
  max-height: 200px;
  justify-content: space-between;
}

.benefit-item-h {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.benefit-item-addition {
  max-height: 223px;
  max-width: 230px;
  padding: 80px 85px 81px;
  align-items: center;
  justify-content: space-between;
}

.item-description-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  align-self: center;
}

.item-description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  align-self: center;
}

.bg-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-addition-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.item-addition-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  width: 230px;
}

.item-addition-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 233px;
  max-width: 592px;
  padding: 91px 304px;
}
.search-hotel h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.search-hotel-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 56px;
}

.search-hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  height: 60px;
}

.subscribe {
  background-image: url("../images/background.jpg");
  width: 1200px;
  height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 29px;
}

.subscribe-input-box {
  display: flex;
  text-align: center;
  width: 800px;
  height: 60px;
}
.subscribe-input-text {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  background: #f2f2f2;
  border: 0;
  width: 600px;
  height: 60px;
}

.subscribe-input-button {
  width: 200px;
  padding: 0;
  background: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  height: 60px;
}
.subscribe-input-button::placeholder {
  font-size: 18px;
  line-height: 21px;
  margin-left: 22px;
}

.subscribe-text {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 46px;
}
.footer-container {
  width: 1060px;
  margin: 0 auto;
}
.footer-elements {
  padding: 45px 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-networks {
  display: flex;
  width: 142px;
  justify-content: space-around;
  align-items: center;
}
.social-networks-icon {
  margin: auto 0;
}
.social-networks-link {
  margin: auto 0;
}

.footer-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
/*  */
/* Catalog.html */
/*  */
.container-content {
  width: 1060px;
  margin: 0 auto;
}

.filter-background {
  background-image: url("../images/Filter-background.jpg");
  width: 1200px;
  height: 403px;
}
.filter-header {
  padding-top: 35px;
  padding-bottom: 40px;
}
.filter-header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.filter-breadcrubs {
  display: flex;
  width: 111px;
  justify-content: space-between;
  align-items: center;
}
.breadcrubs-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
fieldset {
  border: 0;
  padding: 0;
}

.filter-catalog {
  display: flex;
  height: 150px;
  justify-content: space-between;
}
.filter-catalog-left {
  display: flex;
  width: 366px;
  justify-content: space-between;
  align-items: stretch;
}

.filter-catalog-list {
  margin-top: 30px;
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter-catalog-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
}

.filter-catalog-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.filter-catalog-right {
  width: 520px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.filter-catalog-price-input-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
.filter-catalog-price-input-block {
  margin-top: 34px;
  display: flex;
  width: 288px;
  height: 48px;
}
.filter-catalog-input:last-child {
  border-radius: 0 4px 4px 0;
}
.filter-catalog-input:first-child {
  border-radius: 4px 0 0 4px;
}
.filter-catalog-input {
  padding: 0;
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: transparent;
  border: 2px solid #ffffff;

  color: #ffffff;
}

.filter-range {
  margin-top: 32px;
  width: 100%;
}
.filter-button-block {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-self: flex-end;
}
.filter-submit-button {
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  margin-bottom: 20px;
}

.filter-reset-button {
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 0;
}
.catalog-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 56px;
}
.catalog-sorting-select {
  width: 290px;
  height: 100%;
}
.catalog-sorting-view {
  display: flex;
  width: 160px;
  justify-content: space-between;
}
.sorting-view-button input {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.sorting-view-button-active input {
  border: 2px solid #000000;
}
#sorting-view-button-1 {
  background-image: url(../images/icon-table.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#sorting-view-button-2 {
  background-image: url(../images/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#sorting-view-button-3 {
  background-image: url(../images/icon-list.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.amount-sorting {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-sorting-select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 66px;
}
.product-item {
  width: 300px;
  padding: 20px;
  height: 398px;
  display: grid;
  justify-content: space-between;
  justify-items: stretch;
}
.product-detal-inf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 16px;
}
.product-item h3 {
  align-self: flex-end;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-type-housing {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-details {
  display: block;
  width: 140px;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
}

.product-to-favorite {
  display: block;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #82b3d3;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-to-favorite-accept {
  background-color: #7db54f;
}

.product-rating-value {
  display: block;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #e5e5e5;
  border: 0;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.page-number-link {
  display: block;
  text-decoration: none;
  width: 60px;
  padding: 12px 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}
.pagination-hr {
  width: 1055px;
  margin-bottom: 30px;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-number-amount-block {
  width: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-number-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.page-number-link-selected {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.page-number-amount-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-number-amount {
  width: 160px;
  height: 49px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.subscribe-catalog h2 {
  color: #000000;
}

.subscribe-catalog .subscribe-text {
  color: #000000;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-image: none;
}
