*,
*::after,
*::before {
  margin: 0;
}

input:focus {
  border: 0;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.index-header {
  /* height: 65px; */
}

.header-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header-menu-list {
  max-width: 400px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-item {
  display: grid;
  align-items: center;
  /* height: 100%; */
}

.header-menu-item:not(:first-child) {
  margin-left: 34px;
}

.header-menu-item-active .header-menu-link {
  border-bottom: 2px solid #333333;
}

.header-menu-link {
  color: #000000;
  padding: 18px 0;
}

.header-user-list {
  display: flex;
  align-items: center;
}

.header-user-item {
  width: 42px;
  text-align: center;
}

.header-user-link-search {
  display: block;
  padding: 24px 12px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 18px;
}

.header-user-link-favorite {
  display: block;
  padding: 24px 12px;
  background-image: url(../images/favorite-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 17px;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
  width: 160px;
  margin-left: 20px;
  padding: 9px 15px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
  border: 0;
}

.header-button:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.header-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.index-main {
  margin-top: -5px;
}

.hero {
  margin-bottom: 90px;
}

.hero-background {
  background-image: url("../images/index-background.jpg");
  width: 1200px;
  height: 484px;
  margin-bottom: 63px;
  background-repeat: no-repeat;
}

.hero-divider {
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../images/index-background-form.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.welcome-to-sedona {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.what-is-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 31px;
}

.why-it-better {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list li {
  display: flex;
  flex-direction: column;
  height: 384px;
}

.benefit-item-description {
  background-color: #82b3d3;
  max-width: 230px;
  padding: 92px 85px;
  max-height: 200px;
  justify-content: space-between;
}

.benefit-item-h {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.benefit-item-addition {
  max-height: 223px;
  max-width: 230px;
  padding: 80px 85px 81px;
  align-items: center;
  justify-content: space-between;
}

.item-description-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  align-self: center;
}

.item-description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  align-self: center;
}

.bg-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-addition-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.item-addition-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  width: 230px;
}

.item-addition-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 233px;
  max-width: 592px;
  padding: 91px 304px;
}

.search-hotel h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.search-hotel-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 56px;
}

.search-hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
  padding: 12px 0;
  cursor: pointer;
}

.search-hotel-button:hover {
  background-color: #615048;
}

.search-hotel-button:focus {
  background-color: #615048;
  border: 0;
}

.search-hotel-button:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.search-hotel-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe {
  background-image: url(../images/background.jpg);
  width: 1200px;
  height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 29px;
}

.subscribe-input-box {
  display: flex;
  text-align: center;
  width: 800px;
  padding: 20px 22px;
}

.subscribe-input-text {
  padding: 12px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-radius: 10px 0px 0px 10px;
  background: #f2f2f2;
  border: 0;
  width: 600px;

}

.subscribe-input-button {
  width: 200px;
  padding: 0;
  background: #82b3d3;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  height: 60px;
  cursor: pointer;
}

.subscribe-input-button:hover {
  background-color: #68A2CA;
}

.subscribe-input-button:focus {
  background-color: #68A2CA;
  border: 0;
}

.subscribe-input-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.subscribe-input-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe-input-button::placeholder {
  font-size: 18px;
  line-height: 21px;
  margin-left: 22px;
}

.subscribe-text {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 46px;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
}

.footer-elements {
  padding: 45px 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-networks {
  display: flex;
  width: 142px;
  justify-content: space-around;
  align-items: center;
}

.social-networks-icon {
  margin: auto 0;
}

.social-networks-link-vk {
  display: block;
  padding: 13px 12px;
  background-image: url(../images/vk-icon.svg);
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-networks-link-vk:hover {
  background-image: url(../images/vk-icon-hoversvg.svg);
}

.social-networks-link-vk:focus {
  background-image: url(../images/vk-icon-focus.svg);
  border: 0;
}

.social-networks-link-vk:active {
  background-image: url(../images/vk-icon-active.svg);
}

.social-networks-link-telegram {
  display: block;
  padding: 13px 15px;
  background-image: url(../images/telegram-icon.svg);
  width: 18px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-networks-link-telegram:hover {
  background-image: url(../images/telegram-icon-hover.svg);
}

.social-networks-link-telegram:focus {
  background-image: url(../images/telegram-icon-focus.svg);
  border: 0;
}

.social-networks-link-telegram:active {
  background-image: url(../images/telegram-icon-active.svg);
}

.social-networks-link-youtube {
  display: block;
  padding: 12px 15px;
  background-image: url(../images/youtube-icon.svg);
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-networks-link-youtube:hover {
  background-image: url(../images/youtube-icon-hover.svg);
}

.social-networks-link-youtube:focus {
  background-image: url(../images/youtube-icon-focus.svg);
  border: 0;
}

.social-networks-link-youtube:active {
  background-image: url(../images/youtube-icon-active.svg);
}

.academy-href {
  display: block;
  width: 115px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/logo-footer.svg);
}

.academy-href:hover {
  background-image: url(../images/logo-footer-hover.svg);
}

.academy-href:focus {
  background-image: url(../images/logo-footer-focus.svg);
  border: 0;
}

.academy-href:active {
  background-image: url(../images/logo-footer-active.svg);
}

.footer-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-number a {
  color: #000000;
}

.footer-number a:hover {
  color: #756157;
}

.footer-number a:focus {
  color: #756157;
  border: 0;
}

.footer-number a:active {
  color: #7561574D;
}

.modal-background {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F2F2F2CC;
}

.modal-background-close {
  display: none;
}

.modal-search {
  margin: auto;
  position: relative;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  width: 715px;
  height: 561px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search-close {
  position: absolute;
  display: block;
  width: 53px;
  height: 53px;
  right: 70px;
  top: 54px;
  cursor: pointer;
}

.modal-search-close-btn {
  visibility: hidden;
}

.close-button-cross {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../images/close-cross.svg);
  z-index: 1;
  margin-left: 20px;
}

.modal-search-close:active .close-button-cross {
  background-image: url(../images/close-cross-active.svg);
}

.close-button-back {
  display: block;
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  top: 0;
}

.modal-search-close:hover .close-button-back {
  background-color: #E6E6E6;
}

.modal-search-close:focus .close-button-back {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-search-close:active+.close-button-back {
  background-color: #E6E6E6;
  border: 0;
}

.modal-form {
  margin-top: 63px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 60px;
  grid-template-columns: 1fr min-content;
  gap: 40px;
}

.field-group label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.field-date-in {
  grid-column: 1 / -1;
}

.field-date-out {
  grid-column: 1 / -1;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-danger {
  display: block;
  position: absolute;
  color: #FF5757;
  font-size: 16px;
  line-height: 21px;
  margin-top: 80px;
  margin-left: 155px;
}

.field-ok {
  display: block;
  position: absolute;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  margin-top: 80px;
  margin-left: 155px;
}

.field-input:hover {
  background: #E6E6E6;
}

.field-input:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}

.field-input:active {
  background: #FFFFFF;
  border: 2px solid #000000;
  color: #000000;
}

.field-date-input {
  box-sizing: border-box;
  width: 420px;
  background-color: #F2F2F2;
  color: #00000099;
  border-radius: 4px;
  padding: 15px 20px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.field-amount-adult {
  grid-column: 1 / 2;
}

.field-amount-child {
  grid-column: 2 / -1;
}

.field-people-input {
  box-sizing: border-box;
  width: 133px;
  padding: 15px 61px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: 0;
}

.field-people-input::-webkit-outer-spin-button,
.field-people-input::-webkit-inner-spin-button {
  display: none;
}

.amount-people {
  position: relative;
  width: 133px;
  height: 50px;
}

.plus-number {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../images/plus-num.svg);
  background-position: 50% 50%;
  border: 0;
  background-color: inherit;
  top: 25%;
  margin-left: 95px;
  opacity: 0.3;
}

.plus-number:hover {
  opacity: 1;
}

.plus-number:focus {
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  border: 3px solid #83B3D3;
}

.plus-number:active {
  border: 0;
  opacity: 0.3;
}

.minus-number {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../images/minus-num-hover.svg);
  background-position: 50% 50%;
  border: 0;
  background-color: inherit;
  top: 25%;
  margin-left: 15px;
  opacity: 0.3;
}

.minus-number:hover {
  opacity: 1;
}

.minus-number:focus {
  box-sizing: border-box;
  opacity: 1;
  border: 3px solid #83B3D3;
}

.minus-number:active {
  border: 0;
  opacity: 0.3;
}

.amount-child-info-back {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  margin-right: 18px;
  margin-left: 8px;
}

.amount-child-info-back:hover {
  background-color: #68A2CA;
}

.amount-child-info {
  position: absolute;
  display: block;
  width: 1px;
  height: 9px;
  background-image: url(../images/info\ 1.svg);
  background-repeat: no-repeat;
  margin: 8px 12px;
  z-index: 1;
}

.modal-form-submit {
  grid-column: 1 / -1;
  background-color: #83B3D3;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
}

.modal-form-submit:hover {
  background-color: #68A2CA;
}

.modal-form-submit:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.modal-form-submit:active {
  background-color: #68A2CA;
  color: #FFFFFF4D;
}

.amount-child-info-back:hover+.tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  width: 256px;
  height: 152px;
  z-index: 1;
  top: 68%;
  left: 49%;
}

.tooltip-back-triangle {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #333333;
  top: -5px;
  left: 50%;
}

.tooltip-block {
  display: block;
  box-sizing: border-box;
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  width: 256px;
  padding: 15px 20px 18px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
}

/*  */
/* Catalog.html */
/*  */
.container-content {
  width: 1060px;
  margin: 0 auto;
}

.filter {
  margin-top: -5px;
}

.filter-background {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 403px;
}

.filter-header {
  padding-top: 35px;
  padding-bottom: 40px;
}

.filter-header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.filter-breadcrubs {
  display: flex;
  width: 111px;
  justify-content: space-between;
  align-items: center;
}

.breadcrubs-item {
  display: flex;
  width: auto;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 10px;
}

.breadcrubs-link-home {
  display: block;
  background-image: url(../images/main-house-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 12px;
  height: 12px;
  padding: 5px 5px 5px 0;
}

.breadcrubs-link-home:hover {
  background-image: url(../images/main-house-icon-hover.svg);
}

.breadcrubs-link-home:focus {
  background-image: url(../images/main-house-icon-focus.svg);
}

.breadcrubs-link-home:active {
  background-image: url(../images/main-house-icon-active.svg);
}

.breadcrubs-item:hover {
  color: #D9D9D9;
}

.breadcrubs-item:focus {
  color: #FFFFFF;
}

.breadcrubs-item:active {
  color: #FFFFFF4D;
}

.breadcrubs-arrow {
  display: block;
  background-image: url(../images/breadcrubs-arrow.svg);
  background-position: 50% 50%;
  width: 5px;
  height: 8px;
}

fieldset {
  border: 0;
  padding: 0;
}

.filter-catalog {
  display: flex;
  height: 150px;
  justify-content: space-between;
}

.filter-catalog-left {
  display: flex;
  width: 366px;
  justify-content: space-between;
  align-items: stretch;
}

.filter-catalog-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.filter-catalog-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
}

.filter-catalog-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.filter-catalog-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-catalog-right {
  width: 520px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.filter-name {
  padding-left: 40px;
}

.filter-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-radio-back {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.filter-radio-back:focus {
  border: 3px solid #83B3D3;
}

.filter-radio-ellipce {
  position: absolute;
  visibility: hidden;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #3F5E72;
}

.filter-input:checked+.filter-radio-ellipce {
  position: absolute;
  display: block;
  visibility: visible;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  background-color: #3F5E72;
}

.filter-check-mark {
  display: none;
  width: 20px;
  height: 20px;
}

.filter-input:checked+.filter-check-mark {
  position: absolute;
  display: block;
  width: 12px;
  height: 10px;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  z-index: 1;
  margin-top: 5px;
  margin-left: 4px;
}

.filter-check-background {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.filter-check-background:hover {
  background-color: #FFFFFF99;
}

.filter-check-background:focus {
  box-sizing: border-box;
  background-color: #FFFFFF99;
  border: 3px solid #83B3D3;
}

.filter-check-background:active {
  background-color: #FFFFFF4D;
}

.filter-catalog-price-input-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}

.filter-catalog-price-input-block {
  margin-top: 34px;
  display: flex;
  width: 288px;
}

.filter-catalog-from {
  display: block;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.3;
  margin: 12px 159px 15px 112px;
  box-sizing: border-box;
}

.filter-catalog-to {
  display: block;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.3;
  margin: 12px 17px 15px 250px;
  box-sizing: border-box;
}

.filter-catalog-input-left {
  border-radius: 0 4px 4px 0;
}

.filter-catalog-input-right {
  border-radius: 4px 0 0 4px;
}

.filter-catalog-input {
  display: block;
  box-sizing: border-box;
  padding: 12px 17px;
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.filter-catalog-input::-webkit-outer-spin-button,
.filter-catalog-input::-webkit-inner-spin-button {
  display: none;
}


.filter-catalog-input:hover {
  border: 2px solid #ffffff;
  opacity: 0.6;
}

.filter-catalog-input:focus {
  outline: 3px solid #81B3D2;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.filter-catalog-input:active {
  background-color: #756257;
  border: 2px solid #FFFFFF;
  box-shadow: none;
}


.filter-range {
  margin-top: 32px;
  width: 100%;
}

.filter-button-block {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-self: flex-end;
}

.filter-submit-button {
  width: 100%;
  padding: 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter-submit-button:hover {
  background-color: #68A2CA;
}

.filter-submit-button:focus {
  background-color: #68A2CA;
  border: 0;
}

.filter-submit-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.filter-submit-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.filter-reset-button {
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.filter-reset-button:hover {
  opacity: 0.6;
}

.filter-reset-button:focus {
  border: 3px solid #83B3D3;
}

.filter-reset-button:active {
  border: 0;
  opacity: 0.3;
}


.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff46;

  margin-top: 32px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 208px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  border: 0;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 208px;
}


.catalog-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 56px;
}

.catalog-sorting-select {
  width: 290px;
  padding: 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-sorting-select:hover {
  border: 2px solid #68A2CA;
}

.catalog-sorting-select:focus {
  border: 2px solid #68A2CA;
}

.catalog-sorting-select:active {
  border: 2px solid #3F5E72;
}

.catalog-sorting-select:disabled {
  border: 2px solid #0000004D;
  color: rgba(0, 0, 0, 0.3);
  ;
}

.catalog-sorting-view {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.sorting-view-button label {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
  display: block;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view-button label:hover {
  border: 2px solid #000000;
}

.sorting-view-button label:focus {
  border: 2px solid #68A2CA;
}

.sorting-view-button label:active {
  border: 2px solid #000000;
}

.sorting-view-button input {
  display: none;
}

.sorting-view-button-1-label {
  background-image: url(../images/icon-table.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sorting-view-button-2-label {
  background-image: url(../images/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sorting-view-button-3-label {
  background-image: url(../images/icon-list.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.amount-sorting {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 66px;
}

.product-item {
  width: 300px;
  padding: 20px;
  padding: 14px 20px;
  display: grid;
  justify-content: space-between;
  justify-items: stretch;
  margin-right: 18px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-img {
  object-fit: cover;
}

.product-detal-inf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 16px;
}

.product-item h3 {
  align-self: flex-end;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-type-housing {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-details {
  display: block;
  width: 140px;
  background-color: #756157;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
}

.product-details:hover {
  background-color: #615048;
}

.product-details:focus {
  background-color: #615048;
  border: 0;
}

.product-details:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.product-details:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.product-to-favorite {
  display: block;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #82b3d3;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-to-favorite:hover {
  background-color: #68A2CA;
}

.product-to-favorite:focus {
  background-color: #68A2CA;
  border: 0;
}

.product-to-favorite:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.product-to-favorite:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.product-to-favorite-accept {
  background-color: #7db54f;
}

.product-to-favorite-accept:hover {
  background-color: #6C9E42;
}

.product-to-favorite-accept:focus {
  background-color: #6C9E42;
  border: 0;
}

.product-to-favorite-accept:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.product-to-favorite-accept:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.product-rating-result {
  display: flex;
}

.rating-star {
  background-image: url(../images/rating-star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.rating-star:not(:first-child) {
  margin-left: 8px;
}

.product-rating-value {
  display: block;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
  background-color: #e5e5e5;
  border: 0;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.page-number-link {
  display: block;
  text-decoration: none;
  width: 60px;
  padding: 12px 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.page-number-link:hover {
  background-color: #68A2CA;
}

.page-number-link:focus {
  background-color: #68A2CA;
}

.page-number-link:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-hr {
  width: 1055px;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-number-amount-block {
  width: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-number-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.page-number-link-selected {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.page-number-link-selected:hover {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.page-number-link-selected:focus {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.page-number-link-selected:active {
  background-color: #f2f2f2;
  color: #000000;
  border: 0;
}

.page-number-amount-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-number-amount {
  width: 160px;
  padding: 14px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.subscribe-catalog h2 {
  color: #000000;
}

.subscribe-catalog .subscribe-text {
  color: #000000;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-image: none;
}